<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document: Fake Api</title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <section class="wrapper">
        <!-- Row title -->
        <main class="row title">
            <ul>
                <li></li>
                <li>DATA NAME $</li>
                <li>URL</li>
                <li>Object</li>
            </ul>
        </main>

        <!-- Dynamic Rows -->
        <% const rows = [
            { sport: 'NFL', dataName: 'Japanese Foods', object: '5', url: 'LINK', link: '/api/yaponOvqatlari' },
            { sport: 'NFL', dataName: 'Uzbekistan city distructs', object: '14', url: 'LINK', link: '/api/uzbekistanShaxarlari' },
            { sport: 'NHL', dataName: '', object: '', url: '' },
            { sport: 'MLB', dataName: '', object: '', url: '' },
            { sport: 'MLB', dataName: '', object: '', url: '' },
            { sport: 'NHL', dataName: '', object: '', url: '' },
            { sport: 'PGA', dataName: '', object: '', url: '' },
            { sport: 'MLB', dataName: '', object: '', url: '' }
        ]; %>

        <% rows.forEach(row => { %>
        <article class="row <%= row.sport.toLowerCase() %>">
            <ul>
                <li>
                    <a href="#"><%= row.sport %></a>
                </li>
                <li><%= row.dataName %></li>
                <li>
                    <% if (row.link) { %>
                        <a href="<%= row.link %>" target="_blank"><%= row.url %></a>
                    <% } else { %>
                        <span>No Link</span>
                    <% } %>
                </li>
                <li><%= row.object %></li>
            </ul>
        </article>
        <% }); %>
    </section>
</body>

</html>
